// COLORS
$color-black: #111010;
$color-white: #4f4f4f;
$color-grey: #4f4f4f;
$color-highlight: #111010;
$color-link: #0174DF;
$color-code: #04B4AE;
$color-twitter: #ffffff;
$color-background: #000;
$color-hire-white: #FEFEFE;
$color-hire-black: #111010;
$color-hire-green: #B6EFD4;
$color-hire-blue: #A0CCDA;
$color-hire-shadow: rgba(0, 0, 0, 0.2);

// FONT
$font-url: "https://fonts.googleapis.com/css2?family=Unica+One&display=swap";
$font-family: "'Unica One',";
$font-url: "https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap";
$font-family: "'Dosis', ";


// BREAKPOINTS
$br: 600px;
