<!DOCTYPE html>
<html>
<head>
	<title>GRC</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>Guillermo</strong> Rebuffo</h1>
			<span class="job-title">Analista de Sistemas</span>
			<span class="email">rebu1818@gmail.com - 18/03/1994 - rebcesp.github.io</span>
      
  
        <p style=”text-align: justify;”>
            <p class="lead" style="text-align justify;">Programador con 3 años de experiencia, buenas aptitudes para gestionar equipos, fomentar el progreso hacia etapas importantes de proyectos, controlar la calidad y cumplir los plazos de entrega. Gran apasionado por la informática, he sido siempre autodidacta y entusiasta por la ciberseguridad y la programación. Estoy en constante aprendizaje de las nuevas tecnologías.</p>
      
		</div>
	</div>

  

<!-- Skills and intrest section -->
	<div class="container">

		<div class="sections">
			<h2 class="section-title">Skills</h2>

			<div class="list-card">
				<span class="exp">+ 2.5 years</span>
				<div>
					<h3>POO - Frameworks</h3>
					<span>JavaEE2, JSP, PrimeFaces, Maven, Spring, .NET, Gradle</span>
				</div>
			</div>
			
			<div class="list-card">
				<span class="exp">+ 3 years</span>
				<div>
					<h3>Servers - Base de datos</h3>
					<span>Wildfly, Apache, JBOSS, Tomcat, Mysql, Postgrsql, Mariadb, Liberty</span>
				</div>
			</div>	
					
			<div class="list-card">
				<span class="exp">+ 5 years</span>
				<div>
					<h3>Linux - WebApp</h3>
					<span>Scripting, HTML, JS, CSS</span>
				</div>
			</div>


		</div>
		<div class="sections">
				<h2 class="section-title">Interests</h2>
				
				<div class="list-card">
					<div>
						<h3>Scripting languages</h3>
						<span>PHP, JS, Bash, Python, Rust</span>
					</div>
				</div>	

				<div class="list-card">
					<div>
						<h3>Hacking</h3>
						<span>Linux, Crawlers, Bots, Network, Malware, Exploiting</span>
					</div>
				</div>		
		</div>
	</div>

	<!-- Achievements -->

	<div class="container cards">
		
		<div class="card">
			<div class="skill-level">
				<span>+</span>
				<h2>60</h2>
			</div>

			<div class="skill-meta">
				<h3>Projects</h3>
				<span>Adapting and creating solutions for customer's needs</span>
			</div>
		</div>

			
		<div class="card">
			<div class="skill-level">
				<h2>50</h2>
				<span>%</span>
			</div>

			<div class="skill-meta">
				<h3>Web</h3>
				<span>Applications development integrating third-party services and mobile client(s)</span>
			</div>
		</div>

			
		<div class="card">
			<div class="skill-level">
				<h2>30</h2>
				<span>%</span>
			</div>

			<div class="skill-meta">
				<h3>Technical solutions</h3>
				<span>Such as web services, scripts, configurations</span>
			</div>
		</div>


		<div class="card">
			<div class="skill-level">
				<h2>20</h2>
				<span>%</span>
			</div>

			<div class="skill-meta">
				<h3>Leading</h3>
				<span>Web projects and ensure the quality of delivery</span>
			</div>
		</div>

	</div>

	<!-- Timeeline -->

	<div class="container">
		<ol class="timeline">
		  <li>
		    <p class="line">Experiencia</p>
		    <span class="point"></span>
		    <p class="description">
		       Banco Económico - <br>
           Santa Cruz,Bolivia
		    </p>
		    <span class="date">Actual - Abr. 2021</span>
		  </li>

		  <li>
		    <span class="point"></span>
		    <p class="description">
		      Zelenza (Visa - Mastercard) - <br>
          Madrid,España
		    </p>
		    <span class="date">Abr. 2020 - Dec. 2020</span>
		  </li>
      
       <li>
		    <span class="point"></span>
		    <p class="description">
		      Banco de España - <br>
          Madrid, España
          
		    </p>
		    <span class="date">Ene. 2019 - Abr. 2020</span>
		  </li>
      
        <li>
		    <span class="point"></span>
		    <p class="description">
		      Alten - Ministerio de Gobierno - Madrid, España
		    </p>
		    <span class="date">Sep. 2018 - Ene. 2019</span>
		  </li>
      <br><br>
      <div class="container">
	  	<ol class="timeline">
      <br><br>

		  		  <li>
		    <p class="line">Educacion</p>
		    <span class="point"></span>
		    <p class="description">
		        Universidad Europead de Madrid
		    </p>
		    <span class="date">2016-2018</span>
		  </li>
      

		  		  <li>
		    <span class="point"></span>
		    <p class="description">
		      Bachillerato - Colegio Británico
		    </p>
		    <span class="date">2013 . Finalizacion</span>
		  </li>
		</ol>
      
      
	</div>
  <br>

	

  
	<footer class="container">
		<span style="font-size: 16px; margin-top: ">EOF, Guillermo Rebuffo</span>
	</footer>


</body>
</html>
