---
layout: default
---

<p class="site">
{{ page.date | date: '%d de' }}
{% assign m = page.date | date: "%-m" %}
{% case m %}
{% when '1' %}enero
{% when '2' %}febrero
{% when '3' %}marzo
{% when '4' %}abril
{% when '5' %}mayo
{% when '6' %}junio
{% when '7' %}julio
{% when '8' %}agosto
{% when '9' %}septiembre
{% when '10' %}octubre
{% when '11' %}noviembre
{% when '12' %}diciembre
{% endcase %}
{{ page.date | date: 'de %Y' }}
@ <a href="/">{{ site.name }}</a>
</p>

<h1>{{ page.title }}</h1>

{{ content }}

<footer>
  <div class="floatright">
    <a href="https://x.com/rebcesp">x.com/rebcesp</a>
  </div>
  <p class="left">
    Escrito por {{ site.name }}
  </p>
</footer>
